<!DOCTYPE html>

<html>

<head>

  
<title>Cadastro Aluno</title>
<link rel="stylesheet" href="/static/style.css">

</head>


<body>


<h1>Criar Conta</h1>


<form action="/cadastrar" method="POST">


<input 
name="nome"
placeholder="Nome completo"
required>


<br><br>


<input 
name="email"
placeholder="Email"
required>


<br><br>


<input 
type="password"
name="senha"
placeholder="Senha"
required>

<label>Turma</label>

<input 
type="text"
name="turma"
placeholder="Ex: 3º Informática"
required>


<br><br>


<button>

Criar conta

</button>


</form>



<a href="/">

Já tenho conta

</a>


</body>

</html>