<!DOCTYPE html>

<html>

<head>

<title>Login - Escola Resolve</title>

<link rel="stylesheet" href="/static/style.css">

</head>


<body>


<div class="login-box">


<h1>📚 Escola Resolve</h1>

<p>Acesso ao sistema</p>



<form action="/login" method="POST">


<label>Email</label>

<input 
type="email"
name="email"
placeholder="Digite seu email"
required>



<label>Senha</label>

<input 
type="password"
name="senha"
placeholder="Digite sua senha"
required>



<button>

Entrar

</button>



</form>



<br>


<a href="/cadastro">

Criar conta de aluno

</a>


</div>



</body>


</html>